@import url('https://fonts.cdnfonts.com/css/timeless?styles=11210');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: #F5F5F5;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.10);
}

/* index.html (home) */
#home {
  position: relative;
  float: left;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: none;
}

.imgbox {
  background-color: transparent;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.textbox {
  position: relative;
  margin: 20px 20px;

}

#cachorrotriste {
  height: 150%;
  width: 100%;
  object-fit: cover;
  margin: 0px 0px;
}

/* catalogo.html */

#titulo {
  position: relative;
  float: left;
  width: 150px;
  height: 60px;
  margin: 10px 10px;
  font-size: 30px;
}

p {
  font-family: 'Gabarito', sans-serif;
}

h1 {
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
}

.opcoes {
  position: relative;
  float: right;
  width: 80%;
  height: auto;
  transform: translateY(63px);
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

#popular {
  position: relative;
  float: left;
  margin: 20px 10px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  width: auto;
  height: auto;
  background-color: #E6E6E6;
  border-radius: 20px;
  padding: 5px;
}

#ordemAlfabetica {
  position: relative;
  float: left;
  margin: 20px 10px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  width: auto;
  height: auto;
  background-color: #E6E6E6;
  border-radius: 20px;
  padding: 5px;
}

#ordemAgrupar {
  position: relative;
  float: left;
  margin: 20px 10px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  width: auto;
  height: auto;
  background-color: #E6E6E6;
  border-radius: 20px;
  padding: 5px;
}

.menu {
  position: relative;
  float: right;
  margin: 20px 18px;
}

.box-controle {
  position: relative;
  float: left;
  margin: 0px 35px;
}

.controle {
  display: block;
  font-family: 'Gabarito', sans-serif;
}

.controle-li {
  list-style-image: url('../img/bug_report_black_24dp.svg');
}

.menu-li {
  margin: 0px 20px;
  display: inline-block;
  cursor: pointer;
}

.link {
  position: relative;
  width: 100%;
  float: left;
  margin: 0px 0px;
}

#doencasIcon {
  position: relative;
  float: left;
  margin: 15px 6px;
}

#doencas {
  position: relative;
  float: left;
}

#doencas:hover {
  text-decoration: underline
}


a {
  text-decoration: none;
  color: black;
  font-family: 'Gabarito', sans-serif;
}

a:hover {
  text-decoration: underline;
}

figure {
  font-family: 'Gabarito', sans-serif;
}

.box-search {
  display: block;
  margin: 20px auto;
  width: 30%;
  height: 25px;
}

.pesquisa {
  position: relative;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  background-color: #D9D9D9;
  -webkit-appearance: none;
  appearance: none;
}

.pesquisa::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.pesquisa-mobile-logo {
  display: none;
}

.pesquisa-mobile {
  display: none;
}

#pesquisa_icon {
  position: relative;
  margin: 0px 0px;
  width: 5px;
  height: 5px;
}

button {
  position: relative;
  display: block;
  height: 25px;
  z-index: 1;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

#btnPesquisa {
  position: relative;
  margin: -27px 15px;
  float: right;
  z-index: 1;
}

.menu-lateral {
  position: fixed;
  float: left;
  width: 20%;
  height: 90%;
  background-color: #E6E6E6;
  margin: 63px 0px;
  transition-timing-function: ease-in;
  transition: width 0.5s;
}

.btnOcultar {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin: 10px 10px;
  border-radius: 5px;
  background-color: transparent;

}

.btnOcultar:hover {
  background-color: #D9D9D9;
}

#ocultarIcon {
  display: block;
  position: relative;
  margin: 0px -5px;
  transition: transform 0.5s;
}

#mostrarIcon {
  display: none;
  position: relative;
  margin: 0px -5px;
}

.box-filtro {
  display: block;
}

.box-filtro-mobile {
  display: none;
}

#filtro-desktop {
  display: block;
  position: relative;
  float: left;
  margin: 10px 10px;
}

.filtro-mobile-logo {
  display: none;
}

#filtro-txt-desktop {
  display: block;
  position: relative;
  margin: 15px;
}

#exibindoResultadosPara {
  margin: 20px 10px;
}

#btnLimpar {
  position: relative;
  float: right;
  margin: 20px 20px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  width: auto;
  height: auto;
  background-color: #E6E6E6;
  border-radius: 20px;
  padding: 5px;
}

#limparFiltro {
  position: relative;
  float: left;
  margin: 3px 5px;
  font-size: 15px;
}

.filtro-item {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  background-color: transparent;
  margin: 0px 10px;
  transition: margin 1s;
}

.btnFiltrar {
  position: relative;
  float: right;
  background-color: black;
  color: white;
  font-family: 'Gabarito', sans-serif;
  border-radius: 20px;
  margin: 0px 10px;
  transition: all 1s;
}

.expandir {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
}

.expandir:hover {
  background-color: #D9D9D9;
}

ul {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px 0px;
}

.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: 'Gabarito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.pure-material-checkbox>span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox>input:checked,
.pure-material-checkbox>input:indeterminate {
  background-color: black;
}

.pure-material-checkbox>input:checked+span::before,
.pure-material-checkbox>input:indeterminate+span::before {
  border-color: ;
  background-color: black;
}

.pure-material-checkbox>input:checked+span::after,
.pure-material-checkbox>input:indeterminate+span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover>input {
  opacity: 0.04;
}

.pure-material-checkbox>input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox>input:active+span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked:active+span::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox>input:disabled {
  opacity: 0;
}

.pure-material-checkbox>input:disabled+span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure-material-checkbox>input:disabled+span::before {
  border-color: currentColor;
}

.pure-material-checkbox>input:checked:disabled+span::before,
.pure-material-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent;
  background-color: currentColor;
}

.filtro-opcoesf {
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  margin: 10px 10px;
  background-color: transparent;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: all 1s;
}

.filtro-opcoesh {
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  margin: 10px 10px;
  background-color: transparent;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: all 1s;
}

.checkbox {
  position: relative;
  float: left;
  margin: 0px 5px;
}

#filtro-opcao {
  position: relative;
  float: left;
  margin: -3px 0px;
}

#btnAlfabeto {
  margin: 15px -15px;
}

#expandir-icon-alfabeto {
  transform: rotate(180deg);
  transition-timing-function: ease-in;
  transition: transform 0.5s;
}

#expandir-icon-familia {
  margin: -3px -9px;
  transition-timing-function: ease-in;
  transition: transform 0.5s;
}

#expandir-icon-habitat {
  margin: -3px -9px;
  transition-timing-function: ease-in;
  transition: transform 0.5s;
}

#display-items {
  position: relative;
  float: right;
  width: 80%;
  height: auto;
  background-color: transparent;
  margin: 63px 0px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.fundo {
  display: none;
}

#exibirBox {
  display: none;
  float: right;
  width: 20%;
}

.infoBox {
  position: relative;
  width: auto;
  max-width: 350px;
  height: auto;
  background-color: transparent;
  white-space: normal;
  margin: 70px 0px;
}

.menuParasita {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.ulParasita {
  display: flex;
  color: black;
  margin: 0px 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.liParasita {
  list-style: none;
  position: relative;
  float: left;
  margin: 0px 0px;
  background-color: transparent;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-family: 'Gabarito', sans-serif;
}

.foto-exibir {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
  margin: 10px 20px;
  left: 16%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

#imgExibir {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

#exibirParasita {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #E6E6E6;
  margin: 0px -75px;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nome-exibir {
  position: relative;
  float: left;
  margin: 0px 20px;
}

#nomeCientifico {
  font-size: 25px;
}

#nomeCientificoParasita {
  font-size: 20px;
  margin: 5px 0px;
}

.ulTaxonomia {
  position: relative;
  float: left;
  margin: 50px 10px;
  font-family: 'Gabarito', sans-serif;
}

.liTaxonomia {
  margin: 0px 20px;
}

#descricao {
  display: none;
  margin: 50px 0px;
  padding: 10px 10px;
}

#ciclo {
  display: none;
  margin: 50px 0px;
  padding: 10px 10px;
}

#reproducao {
  display: none;
  margin: 50px 0px;
  padding: 10px 10px;
}

#textoControle {
  font-family: 'Gabarito', sans-serif;
}

#liControle {
  margin: 0px 20px !important;
}

#fechar-guia {
  position: relative;
  float: right;
  margin: 10px 10px;
  z-index: 1;
  cursor: pointer;
}

.boxAncora {
  display: none;
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: black;
  margin: 0;
  padding: 0;
}

.box-letra {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 0px 0px;
}

.letra {
  position: relative;
  float: left;
  margin: 0px 10px;
  font-size: 40px;
}

.numParasitas {
  position: relative;
  float: right;
  margin: 0px 10px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  opacity: 50%;
}

.item {
  display: block;
  position: relative;
  float: left;
  margin: 0px 10px;
  width: 127px;
  height: 167px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.item:hover {
  background-color: #E6E6E6;
}

.item-imagem {
  position: relative;
  float: left;
  margin: 0 auto;
  width: 127px;
  height: 127px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
}

#imagem {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nome-especie {
  position: relative;
}

.footer-menu {
  display: none;
}

#linkIcon {
  position: relative;
  float: left;
  margin: 0px 5px;
}

.linkReferencias {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  background-color: #c9c9c9;
  border-radius: 5px;
  padding-right: 10px;
}

.linkUrl {
  position: relative;
  float: left;
  margin: 2px 0px;
}

/* doenças.html */

#nomeDoenca {
  margin: 10px 10px;
  font-size: 30px;
}

.itemDoenca {
  display: block;
  position: relative;
  float: left;
  margin: 0px 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nome-doenca {
  position: relative;
  margin: 0px 20px;
  font-family: 'Gabarito', sans-serif;
}

.nome-doenca:hover {
  text-decoration: underline;
}

#btnOrdemAlfabetica {
  position: relative;
  float: left;
  margin: 20px 10px;
  font-family: 'Gabarito', sans-serif;
  font-weight: 700;
  font-size: 15px;
  width: auto;
  height: auto;
  background-color: #E6E6E6;
  border-radius: 20px;
  padding: 5px;
}

#exibirDoenca {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #E6E6E6;
  margin: 0px -75px;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuDoenca {
  position: absolute;
  width: 100%;
  height: 28%;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.ulDoenca {
  display: flex;
  color: black;
  margin: 0px 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.liDoenca {
  list-style: none;
  position: relative;
  float: left;
  margin: 0px 0px;
  background-color: transparent;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-family: 'Gabarito', sans-serif;
}

.indicador {
  position: relative;
  width: 27%;
  height: 5%;
  background-color: black;
  top: 95%;
  margin: 0px 0px;
  transition: all 0.2s;
}

#indicadorParasita {
  width: 24%;
}

#selecionado {
  font-weight: 700;
}

#nomeDoenca {
  margin: 10px 10px;
}


#textoDesc {
  margin: 0px 10px;
}

.cardParasita {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #D9D9D9;
  margin: 10px 10px;
  border-radius: 5px;
}

.foto-exibir-doenca {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 5px;
}

.nome-exibir-doenca {
  position: relative;
  float: left;
  margin: 10px 0px;
}

.nome-popular-exibir-doenca {
  position: relative;
  float: left;
  margin: -25px 0px;
}

.boxCard {
  display: none;
}

.cardHospedeiro {
  position: relative;
  float: left;
  width: 95%;
  height: 100px;
  background-color: #D9D9D9;
  margin: 10px 10px;
  border-radius: 5px;
}

.ulDoencaNome {
  display: none;
  position: relative;
  float: left;
  margin: 0px 40px;
  font-family: 'Gabarito', sans-serif;
}

.liDoencasNome {
  position: relative;
}

/* sobre.html */

.sobre {
  width: 100% !important;
  margin: 63px -10px !important;
}

#sobreTexto {
  position: relative;
  width: 98%;
  height: auto;
}

.box-imgGrupo {
  position: relative;
  float: left;
  background-color: red;
  width: auto;
  height: auto;
  overflow: hidden;
}

#imgGrupo {
  position: relative;
  margin: -300px 0px;
}

#legendaGrupo {
  position: relative;
  float: left;
}